@font-face {
  font-family: "PT-sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT-sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стили главной страницы*/

body {
  font-family: "PT-sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #121010;
  margin: 0;
  background: #ffffff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
}

/* Стили header */

.main-header {
  padding: 0;
  margin: 0;
  min-height: 70px;
  position: fixed;
  background-color: #fed6bc;
  z-index: 1;
  width: 100%;

}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.header-logo {
  margin: 0 100px 0 100px;
  display: flex;
}

.header-logo-link {
  padding: 3px 5px;
}

.header-logo-link img {
  display: block;
}

.main-navigation {
  align-self: flex-end;
  width: 900px;
}

.main-navigation-list {
  display: flex;
  list-style: none;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.main-navigation-item:not(:last-child) {
  margin: 0 25px 0 0;
}

.main-navigation-item {
  height: 100%;
}

.main-navigation-item:hover {
  background-color: #ffffff; 
}

.main-navigation-link {
  text-decoration: none;
  font-size: 23px;
  line-height: 26px;
  color: #121010;
  box-sizing:border-box;
  padding: 10px 10px 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;  
}

.main-navigation-link-active {
  position: relative;
}

.main-navigation-link-active:before {
  position: absolute;
  content: "";
  border: 1px solid #000000;
  width: calc(100% - 20px);
  bottom: 20px;
}

/* Стили секции hero*/

.page-main {
  flex-grow: 1;
  margin: 84px 0 30px;
  margin-bottom: 30px;
  background-color: #fdeade73;
}

.page-main-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: url(../img/hero-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  margin: 0 0 120px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.hero-logo {
  display: block;
  margin-top: 65px;
  margin-bottom: 65px;
}

.section-title {
  margin: 0 50px 15px 50px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.welcome-words {
  color: #4962e3;
  text-align: center;
}

/* Стили секции каталога главной страницы*/

.catalogue-preview {
  margin: 0 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.catalogue-preview::before {
  position: absolute;
  content: "";
  background-image: url(../img/wave-divider.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 5px;
  bottom: -60px;
}

.catalogue-preview-title {
  margin: 0 20px 45px 20px;
  color: #121010;
}

.catalogue-preview-list {
  margin: 0 0 40px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalogue-preview-item {
  box-sizing: border-box;
  width: 280px;
  border: 1px solid #444444;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 5px 5px 5px 0 #0000004e;
  background-color: #ffffff;
}

.catalogue-preview-item:hover .catalogue-preview-item-photo {
  background-size: 120%;
  transition: .5s linear;
}

.catalogue-preview-item:hover .catalogue-preview-item-photo .test {
  padding-top: 270px;
}

.catalogue-preview-item-photo {
  background-image: url(../img/model-3816s_440_879.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 220px 293px;
  width: 220px;
  height: 293px;
  align-self: center;
  position: relative;
  overflow: hidden;
  -webkit-transition: background-size 1s ease-out 0.5s;
     -moz-transition: background-size 1s ease-out 0.5s;
     -o-transition: background-size 1s ease-out 0.5s;
     transition: background-size 1s ease-out 0.5s;
}

.test {
  position: absolute;
  padding-top: 300px;
  transition-property: padding-top;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.catalogue-preview-item-title-link {
  text-decoration: none;
  color: #121010;
}

.catalogue-preview-item-title {
  margin: 10px auto 10px 0;
}

.catalogue-preview-item-price {
  flex-grow: 1;
}

.catalogue-preview-buttons {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
  display: grid;
  gap: 8px 15px;
  grid-template-columns: repeat(2, 1fr);
}

.catalogue-preview-button, 
.catalogue-preview-button-wb {
  border-radius: 5px;
  display: flex;
  min-height: 25px;
  justify-content: center;
}

.catalogue-preview-button-wb {
  grid-column: 1/-1;
}

.button {
  border-radius: 5px; 
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: #121010;
}

.button-more,
.button-review {
  background-color: #fed6bc;
  padding: 6px 3px 6px;
  box-shadow: 2px 2px 5px 0 #0000004e;
  height: 100%;
  width: 100%;
}

.button-buy {
  background-image: linear-gradient(45deg, #CB11AB 0%, #990099 50%, #481173 100%);
  color: #ffffff;
  padding: 10px 5px 10px;
  box-shadow: 2px 2px 5px 0 #0000004e;
  height: 100%;
  width: 100%;
}

.button-to-catalogue {
  max-width: 350px;
  padding: 10px 65px 10px 20px;
  margin: 0 auto 0 10px;
  box-shadow: 0 0 10px 0 #c1bebb inset, 0 0 10px 4px #c1bebb;
  font-weight: 700;
  font-size: 27px;
  line-height: 31px;
  letter-spacing: 1px;
  color: #121010;
  transition: 0.15s ease-in-out;
  background-image: url(../img/arrow-right-button-to-catalogue.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.button-to-catalogue:hover {
  box-shadow: 0 0 10px 0 #fed6bc inset, 0 0 10px 4px #fed6bc; 
}

/* Стили секции преимуществ */

.advantages {
  margin: 0 0 120px 0;
  position: relative;
}

.advantages::before {
  position: absolute;
  content: "";
  background-image: url(../img/wave-divider.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 5px;
  bottom: -60px;
}

.advantage-points-wrapper {
  display: flex;
  justify-content: center;
}

.advantage-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adtantage-common-title {
  margin: 0 0 30px 0;
  padding-bottom: 30px;
  border-bottom: 2px solid #000000;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}

.adtantage-common-description {
  align-self: center;
  text-align: center;
  width: 400px;
}

.advantage-points {
  position: relative;
}

.advantage-image {
  display: block;  
}

.advantage-point-wrapper {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
  top: 0;
  left: 0;
}

.advantage-point-description {
  position: absolute;
  top: 25px;
  left: 10px;
  transform: ;
  margin: 0;
  min-width: 120px;
  background-color: #0000009b;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px) translateX(-50%);
}

.advantage-point-wrapper:hover > .advantage-point-description {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(-50%);
}

.advantage-point-one-wrapper {
  top: 50px;
  left: 85px;
}

.advantage-point-two-wrapper {
  top: 150px;
  left: 270px;
}

.advantage-point-three-wrapper {
  top: 300px;
  left: 170px;
}

/* Стили для footer*/

.main-footer {
  width: 1200px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-logo {
  margin-right: 30px;
}

.footer-logo-link img {
  display: block;
}

.block-of-contacts-title {
  margin: 0 0 10px 0;
  font-size: 23px;
  line-height: 27px;
}

.contact-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 5px
}

.contact-item {
  display: flex;
  font-size: 15px;
  line-height: 18px;
}

.contact-item h3 {
  margin: 0 10px 0 0;
}

/* Стилизация секции частых вопросов */

.questions {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fdeade;
}

.toggle-box-wrapper {
  background-color: #ffffff;
  margin: 10px 20px 10px;

  border-radius: 10px;
}

.toggle-box {
  display: none;

}

.toggle-box + label {
  display: block;
  position: relative;
  font-size: 23px;
  line-height: 27px;
  padding: 15px 100px 15px 50px;
  cursor: pointer;
}

.toggle-box + label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-color: #000000;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-box + label::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-color: #000000;
  right: 50px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}

.toggle-box + label + p {
  display: none;
  margin: 20px 30px 20px 30px;
  padding: 10px 20px;
  font-size: 21px;
  line-height: 24px;
  border-radius: 10px;
}

.toggle-box:checked + label + p {
  display: inline-block;
  background: #efefef;    
}

.toggle-box:checked + label::after {
  display: none;
}


